<%- include('../partials/header') %>

<h1>UPCOMING EVENTS</h1>
<table id="list">
  <thead>
    <tr>
      <th>EVENT NAME</th>
      <th>DATE</th>
      <th>LOCATION</th>
    
    </tr>
  </thead>
  <tbody>
    <% events.forEach(function(m) { %>
      <tr>
        <td><%= m.eventName %></td>
        <td><%= m.date %></td>
       
        <td><%= m.location %></td>
   
        <td><a href="/events/<%= m._id %>"><i class="fa-solid fa-eye"></i></a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
